@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
	background: #dedede;
}
h2{
	font-family: 'Poppins', sans-serif;
}
h5{
	font-family: 'Poppins', sans-serif;
}
.principal {
	width: 100%;
}
.contenedor {
	width: 295px;
	height: 600px;
	border: 1px solid black;
	margin: 0 auto;
	background: white;
	position: relative;
}
.punto {
	width: 52px;
	
}

.flecha {
	top: 30px;
    left: 49px;
}
.boton {
	background: url("Ellipse 21.png");
	width: 60px;
    height: 57px;
    border: 0;
    top: 426px;
    right: 36px;
    position: absolute;
}

.circulo1 {
	position: absolute;
	top: 445px;
    left: 116px;
}
.circulo2 {
	position: absolute;
	top: 445px;
    left: 97px;
}
.linea {
	position: absolute;
	top: 445px;
    left: 136px;
}
